BatchingRoi_DrivesCloud_20260506/Microsoft.Flow/flows/3f8d2a14-c071-4e5b-9a23-7b1f0e6c4d89/definition.json
{
  "name": "3f8d2a14-c071-4e5b-9a23-7b1f0e6c4d89",
  "id": "/providers/Microsoft.Flow/flows/3f8d2a14-c071-4e5b-9a23-7b1f0e6c4d89",
  "type": "Microsoft.Flow/flows",
  "properties": {
    "apiId": "/providers/Microsoft.PowerApps/apis/shared_logicflows",
    "displayName": "ROI Subject Extract to DRIVES List",
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "Recurrence": {
          "recurrence": {
            "frequency": "Day",
            "interval": "1",
            "timeZone": "AUS Eastern Standard Time",
            "schedule": {
              "hours": ["7"],
              "minutes": [0]
            }
          },
          "evaluatedRecurrence": {
            "frequency": "Day",
            "interval": "1",
            "timeZone": "AUS Eastern Standard Time",
            "schedule": {
              "hours": ["7"],
              "minutes": [0]
            }
          },
          "type": "Recurrence"
        }
      },
      "actions": {
        "Initialize_varMailbox": {
          "runAfter": {},
          "type": "InitializeVariable",
          "inputs": {
            "variables": [{
              "name": "varMailbox",
              "type": "string",
              "value": "ROI.InterstateRequests@transport.nsw.gov.au"
            }]
          }
        },
        "Initialize_varNumbersRaw": {
          "runAfter": {
            "Initialize_varMailbox": ["Succeeded"]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [{
              "name": "varNumbersRaw",
              "type": "array",
              "value": []
            }]
          }
        },
        "Initialize_varInvalidRows": {
          "runAfter": {
            "Initialize_varNumbersRaw": ["Succeeded"]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [{
              "name": "varInvalidRows",
              "type": "array",
              "value": []
            }]
          }
        },
        "Get_Messages": {
          "runAfter": {
            "Initialize_varInvalidRows": ["Succeeded"]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "Uri": "https://graph.microsoft.com/v1.0/users/ROI.InterstateRequests@transport.nsw.gov.au/messages?$select=id,subject,receivedDateTime&$top=999",
              "Method": "GET"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
              "connectionName": "shared_office365",
              "operationId": "HttpRequest"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Condition_Has_Messages": {
          "runAfter": {
            "Get_Messages": ["Succeeded"]
          },
          "type": "If",
          "expression": {
            "and": [{
              "greater": [
                "@length(body('Get_Messages')?['value'])",
                0
              ]
            }]
          },
          "actions": {
            "Apply_to_each_Message": {
              "runAfter": {},
              "type": "Foreach",
              "foreach": "@body('Get_Messages')?['value']",
              "actions": {
                "Compose_SubjectClean": {
                  "runAfter": {},
                  "type": "Compose",
                  "inputs": "@replace(replace(replace(replace(replace(replace(replace(replace(replace(toLower(trim(coalesce(items('Apply_to_each_Message')?['subject'], ''))),'(',' '),')',' '),',',' '),'-',' '),'/',' '),':',' '),'.',' '),';',' '),'#',' ')"
                },
                "Select_Tokens": {
                  "runAfter": {
                    "Compose_SubjectClean": ["Succeeded"]
                  },
                  "type": "Select",
                  "inputs": {
                    "from": "@split(outputs('Compose_SubjectClean'), ' ')",
                    "select": "@trim(item())"
                  }
                },
                "Filter_Valid_Tokens": {
                  "runAfter": {
                    "Select_Tokens": ["Succeeded"]
                  },
                  "type": "Query",
                  "inputs": {
                    "from": "@body('Select_Tokens')",
                    "where": "@or(and(greater(length(item()),0),or(equals(length(item()),7),equals(length(item()),8)),equals(trim(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(item(),'0',''),'1',''),'2',''),'3',''),'4',''),'5',''),'6',''),'7',''),'8',''),'9','')),'')),and(equals(length(item()),6),equals(trim(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(substring(item(),0,4),'0',''),'1',''),'2',''),'3',''),'4',''),'5',''),'6',''),'7',''),'8',''),'9','')),'' ),not(equals(trim(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(substring(item(),4,2),'0',''),'1',''),'2',''),'3',''),'4',''),'5',''),'6',''),'7',''),'8',''),'9','')),'' ))),and(equals(length(item()),6),equals(trim(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(substring(item(),0,5),'0',''),'1',''),'2',''),'3',''),'4',''),'5',''),'6',''),'7',''),'8',''),'9','')),'' ),not(equals(trim(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(substring(item(),5,1),'0',''),'1',''),'2',''),'3',''),'4',''),'5',''),'6',''),'7',''),'8',''),'9','')),'' ))))"
                  }
                },
                "Condition_Has_Valid_Token": {
                  "runAfter": {
                    "Filter_Valid_Tokens": ["Succeeded"]
                  },
                  "type": "If",
                  "expression": {
                    "and": [{"greater": ["@length(body('Filter_Valid_Tokens'))", 0]}]
                  },
                  "actions": {
                    "Append_First_Valid_Number": {
                      "runAfter": {},
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "varNumbersRaw",
                        "value": "@first(body('Filter_Valid_Tokens'))"
                      }
                    }
                  },
                  "else": {
                    "actions": {}
                  }
                }
              }
            },
            "Compose_UniqueNumbers": {
              "runAfter": {
                "Apply_to_each_Message": ["Succeeded"]
              },
              "type": "Compose",
              "inputs": "@union(variables('varNumbersRaw'), variables('varNumbersRaw'))"
            },
            "Condition_Has_Numbers": {
              "runAfter": {
                "Compose_UniqueNumbers": ["Succeeded"]
              },
              "type": "If",
              "expression": {
                "and": [{
                  "greater": ["@length(outputs('Compose_UniqueNumbers'))", 0]
                }]
              },
              "actions": {
                "Send_BatchList_Email": {
                  "runAfter": {},
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "emailMessage/To": "zakary.masters@transport.nsw.gov.au",
                      "emailMessage/Subject": "@concat('DRIVES Batching - ', string(length(outputs('Compose_UniqueNumbers'))), ' number(s) ready - ', formatDateTime(convertTimeZone(utcNow(),'UTC','AUS Eastern Standard Time'),'d MMM yyyy'))",
                      "emailMessage/Body": "@concat('<h2>DRIVES Batch Number List</h2><p>The following ', string(length(outputs('Compose_UniqueNumbers'))), ' number(s) were extracted from the <strong>(Batched Today)X - Condition - Driving Record</strong> folder and are ready for DRIVES entry.</p><pre style=\"font-family:Courier New;font-size:14px;background:#f4f4f4;padding:12px;border-radius:4px\">', join(outputs('Compose_UniqueNumbers'), decodeUriComponent('%0A')), '</pre><p style=\"color:#555;font-size:12px\">Copy the numbers above into your DRIVES batching desktop flow. 8-digit numbers auto-advance; 4 or 7-digit numbers require Tab.</p>')",
                      "emailMessage/Importance": "Normal"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                      "connectionName": "shared_office365",
                      "operationId": "SendEmailV2"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "else": {
                "actions": {
                  "Send_Empty_List_Alert": {
                    "runAfter": {},
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "emailMessage/To": "zakary.masters@transport.nsw.gov.au",
                        "emailMessage/Subject": "DRIVES Batching - No numbers extracted from ROI.InterstateRequests",
                        "emailMessage/Body": "<p>The ROI Subject Extract flow ran but found no valid licence/customer numbers in the (Batched Today)X - Condition - Driving Record folder subjects.</p>",
                        "emailMessage/Importance": "High"
                      },
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                        "connectionName": "shared_office365",
                        "operationId": "SendEmailV2"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                }
              }
            }
          },
          "else": {
            "actions": {
              "Send_Empty_Inbox_Alert": {
                "runAfter": {},
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "emailMessage/To": "zakary.masters@transport.nsw.gov.au",
                    "emailMessage/Subject": "DRIVES Batching - ROI.InterstateRequests inbox is empty",
                    "emailMessage/Body": "<p>The ROI Subject Extract flow ran but the ROI.InterstateRequests inbox contained no messages.</p>",
                    "emailMessage/Importance": "High"
                  },
                  "host": {
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                    "connectionName": "shared_office365",
                    "operationId": "SendEmailV2"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              }
            }
          }
        }
      },
      "outputs": {}
    },
    "connectionReferences": {
      "shared_office365": {
        "connectionName": "shared-office365-placeholder",
        "source": "Embedded",
        "id": "/providers/Microsoft.PowerApps/apis/shared_office365",
        "displayName": "Office 365 Outlook",
        "iconUri": "https://static.powerapps.com/resource/ppcr/releases/v1.0.1802/1.0.1802.4700/office365/icon.png",
        "brandColor": "#0078D4",
        "tier": "Standard",
        "apiName": "office365",
        "isProcessSimpleApiReferenceConversionAlreadyDone": false
      }
    },
    "flowFailureAlertSubscribed": false,
    "isManaged": false
  }
}
